body {
    background-color: #eeeeee;
}
header, footer {
    background-color: #505050;
    color: white;
    padding: 1em;
    text-align: center;
}
img {
    width: 100px;
    height: 100px;
    padding: 20px;
}
.detalle img {
    width: 150px;
    height: 150px;
    padding: 20px;
}
.banner {
    background: #E7A559;
    color: black;
    text-align: center;
    padding: 50px 20px;
}
.productos {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.producto {
    width: 250px;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
}
.oferta {
    width: 500px;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    background-color: white;
}
.oferta:hover, .producto:hover, .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #E7A559;
    color: black;
    border-radius: 5px;
}

.btn-inicio {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #505050;
    color: white;
    padding: 15px 25px;
}

.desc {
    text-align: center;
    padding: 20px 20px;
    font-size: x-large;
}

.detalle {
    display: flex;
    margin: 30px;
    align-items: center;
    max-width: 600px;
}

.price{
    font-size: x-large;
}
